name: Manual Build AArch64

on:
  workflow_dispatch:

jobs:
  build-aarch64:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # 使用 qemu + debian 11 aarch64 构建，glibc = 2.31
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build inside Debian 11 ARM64
        uses: uraimo/run-on-arch-action@v2.7.1
        with:
          arch: aarch64
          distro: debian_bullseye   # glibc 2.31
          run: |
            apt-get update
            apt-get install -y cmake build-essential \
              libsdl2-dev libsdl2-image-dev libsdl2-ttf-dev
            cmake -Bbuild -DCMAKE_BUILD_TYPE=RelWithDebInfo
            cmake --build build -j4

      - name: Generate tag
        id: create_tag
        run: |
          TAG="aarch64-$(date +'%Y%m%d-%H%M%S')"
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.create_tag.outputs.tag }}
          files: build/sdl2imgshow
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
