name: Manual Build AArch64

on:
  workflow_dispatch:

jobs:
  build-aarch64:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Enable ARM64 architecture
        run: |
          sudo dpkg --add-architecture arm64
          sudo apt-get update

      - name: Install dependencies for ARM64
        run: |
          sudo apt-get install -y \
            cmake build-essential \
            gcc-aarch64-linux-gnu g++-aarch64-linux-gnu \
            libsdl2-dev:arm64 libsdl2-image-dev:arm64 libsdl2-ttf-dev:arm64

      - name: Configure (aarch64 cross compile)
        run: |
          cmake -Bbuild -DCMAKE_BUILD_TYPE=RelDebug \
                -DCMAKE_SYSTEM_NAME=Linux \
                -DCMAKE_SYSTEM_PROCESSOR=aarch64 \
                -DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc \
                -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY \
                -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY

      - name: Build
        run: cmake --build build -j4

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sdl2imgshow-aarch64
          path: build/
