name: Manual Build AArch64

on:
  workflow_dispatch:

jobs:
  build-aarch64:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build inside ARM64 container (Alpine)
        uses: uraimo/run-on-arch-action@v2.7.1
        with:
          arch: aarch64
          distro: alpine

          githubToken: ${{ github.token }}

          install: |
            apk update
            apk add build-base cmake \
                sdl2-dev sdl2_image-dev sdl2_ttf-dev

          run: |
            cmake -Bbuild -DCMAKE_BUILD_TYPE=RelDebug
            cmake --build build -j4

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sdl2imgshow-aarch64
          path: build/
